<% layout('layout') -%>
<form method="post" class="row g-3">
  <div class="col-md-6">
    <label class="form-label">Pays</label>
    <input name="Pays" class="form-control" required>
  </div>
  <div class="col-md-6">
    <label class="form-label">Capitale</label>
    <input name="Capitale" class="form-control">
  </div>
  <div class="col-md-4">
    <label class="form-label">Population (NbHab)</label>
    <input name="NbHab" type="number" class="form-control" min="0" step="1">
  </div>
  <div class="col-md-4">
    <label class="form-label">Densité (hab/km²)</label>
    <input name="DensitePop" type="number" class="form-control" min="0" step="0.01">
  </div>
  <div class="col-md-4">
    <label class="form-label">PIB</label>
    <input name="PIB" type="number" class="form-control" min="0" step="1">
  </div>
  <div class="col-md-4">
    <label class="form-label">Déjà visité ? (O/N)</label>
    <input name="dejaVisite" class="form-control" placeholder="O ou N">
  </div>
  <div class="col-12">
    <label class="form-label">Commentaires</label>
    <textarea name="Commentaires" class="form-control" rows="3"></textarea>
  </div>
  <div class="col-12">
    <button class="btn btn-primary">Insérer</button>
  </div>
</form>
