<% layout('layout') -%>
<form method="post" class="row g-3">
  <div class="col-md-6">
    <label class="form-label">Nom du pays à supprimer</label>
    <input name="Pays" class="form-control" required>
  </div>
  <div class="col-12">
    <button class="btn btn-danger">Supprimer</button>
  </div>
</form>
